@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@300;400;500;600;700&family=Playpen+Sans:wght@200;400;500;600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Open Sans";
    src: url("../public/font/OpenSans-VariableFont_wdth,wght.ttf") format("ttf");
  }

  *{
    box-sizing: border-box;
  }

  h1 {
    font-family: OpenSans;
  }
}
